
* {
  margin: 0;
  padding: 0;
}
div {
  display: block;
}

body {
  font: 100% / 1.5 Arial;
}

html {
  color: -internal-root-color;
}
.intro {
  &-container {
    background-color: $bg-primary;
  }
  &-background {
    background-color: #fff;
  }
}

.schema {
  &-container {
    background-color: $bg-primary;
  }
  &-background {
    background-color: #fff;
  }
}

.rsvp {
  &-background {
    background-color: #fff;
  }
  &-container {
    background-color: $bg-secondary;
  }
}
.dresscode {
  &-container {
    background-color: $bg-secondary;
  }
}

.footer{
  height: 200px;
  &-container {
    background-color: $bg-primary;
  }
}