.background-placeholder {
  background-image: url('https://via.placeholder.com/150/000000/FFFFFF/?text=background');
  height: auto; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Images between <hr> tag */

hr {
  padding: 0;
  border: 1px solid white;
  height: 0px;
  // background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  // background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  // background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  // background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  // background-image: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
  color: #fff;
  text-align: center;
  }
  hr:after {
  content:" ";
  display: inline-block;
  position: relative;
  top: -1.2em;
  font-size: 1.5em;
  padding: 19px 1.75em;
  background: url("../images/bthr.png") no-repeat scroll center;
  background-size: 90px 40px;
  height: 50px;
  }